body {
	background-color: rgb(255, 255, 255);
	font-family: sans-serif;
	color: rgb(0, 0, 0);
	padding: 0px;
	margin: 0px;
}

a {
	color: rgb(0, 100, 150);
	transition: all 200ms;
}

a:hover {
	color: rgb(0, 170, 225);
}

#siteDescriptor {
	position: absolute;
	left: 10%;
	width: 80%;
	top: 10%;
	text-align: center;
}

#supportLinks {
	position: absolute;
	top: 30%;
	left: 10%;
	width: 80%;
	height: 60%;
	column-count: 3;
}

.supportGroup {
	display: inline-block;
	width: 100%;
}
